* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {
    display: inline-block;
}

#photos {
    width: 90vw;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
#input{

text-align: center;
}
img {
    padding: 10px;
    width: 500px;
    height: 500px;
}
button{
    margin-left: 50%;
    font-size: 30px;
    padding: 20px;

}